<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="org.neteril.AppCompat">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
	<application android:label="AppCompat">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBCV2cg27itQAx2M0gZbjnTJ3dUUOTB7bI" />
	</application>
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<permission android:name="org.neteril.AppCompat.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="org.neteril.AppCompat.permission.MAPS_RECEIVE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
</manifest>